# Zillow

For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

Acquire and Summarize

Acquire data from the cloud database.
You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.


Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.


Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env
import wrangle

####
#creating a connect function to connected to the code up servers
def get_connection(db, user=env.user, host=env.host, password=env.password):
    '''initiates sql connection'''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
#pulling from the code up server the zillow data frame   
def sqlclean_zillow():
    query = '''
    SELECT
    prop.*,
    predictions_2017.logerror,
    predictions_2017.transactiondate,
    air.airconditioningdesc,
    arch.architecturalstyledesc,
    build.buildingclassdesc,
    heat.heatingorsystemdesc,
    landuse.propertylandusedesc,
    story.storydesc,
    construct.typeconstructiondesc
    FROM properties_2017 prop
    JOIN (
    SELECT parcelid, MAX(transactiondate) AS max_transactiondate
    FROM predictions_2017
    GROUP BY parcelid
    ) pred USING(parcelid)
    JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
    AND pred.max_transactiondate = predictions_2017.transactiondate
    LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
    LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
    LEFT JOIN storytype story USING (storytypeid)
    LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid)
    WHERE prop.latitude IS NOT NULL
    AND prop.longitude IS NOT NULL
    AND transactiondate <= '2017-12-31' '''

    url = f"mysql+pymysql://{env.user}:{env.password}@{env.host}/zillow"
    df = pd.read_sql(query,url)

    return df

In [2]:
df=sqlclean_zillow()
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [51]:
def overview(df):
    print('--- Shape: {}'.format(df.shape))
    print('--- Info')
    df.info()
    print('--- Column Descriptions')
    print(df.describe(include='all'))

def nulls_by_columns(df):
    return pd.concat([
        df.isna().sum().rename('count'),
        df.isna().mean().rename('percent')
    ], axis=1)

def nulls_by_rows(df):
    return pd.concat([
        df.isna().sum(axis=1).rename('n_missing'),
        df.isna().mean(axis=1).rename('percent_missing'),
    ], axis=1).value_counts().sort_index()

def handle_missing_values(df, prop_required_column, prop_required_row):
    n_required_column = round(df.shape[0] * prop_required_column)
    n_required_row = round(df.shape[1] * prop_required_row)
    df = df.dropna(axis=0, thresh=n_required_row)
    df = df.dropna(axis=1, thresh=n_required_column)
    return df

# # Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [23]:
df = df.sort_values('transactiondate').drop_duplicates('parcelid',keep='last')

In [47]:
num_missing = df.isnull().sum()
pct_missing = df.isnull().sum()/df.shape[0]

In [48]:
pd.DataFrame({'num_rows_missing': num_missing, 'pct_rows_missing': pct_missing})

                          num_rows_missing  pct_rows_missing
id                                       0               0.0
parcelid                                 0               0.0
airconditioningtypeid                    0               0.0
architecturalstyletypeid                 0               0.0
basementsqft                             0               0.0
...                                    ...               ...
buildingclassdesc                        0               0.0
heatingorsystemdesc                      0               0.0
propertylandusedesc                      0               0.0
storydesc                                0               0.0
typeconstructiondesc                     0               0.0

[68 rows x 2 columns]

In [39]:
overview(df)

--- Shape: (77380, 68)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         77380 non-null  float64
 3   architecturalstyletypeid      77380 non-null  float64
 4   basementsqft                  77380 non-null  float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           77380 non-null  float64
 8   buildingqualitytypeid         77380 non-null  float64
 9   calculatedbathnbr             77380 non-null  float64
 10  decktypeid                    77380 non-null  float64
 11  finishedfloor1squarefeet      77380 non-null  float64
 12  calculatedfinishedsquarefeet  77380 non-null  float64
 13  finishedsquarefeet12          77380 non-null  float64
 14  finishedsquarefeet13          77380 non-null  float64
 15  finishedsquarefeet15          77380 non-null  float64
 16  finishedsquarefeet50          77380 non-null  float64
 17  finishedsquarefeet6           77380 non-null  float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  77380 non-null  float64
 20  fullbathcnt                   77380 non-null  float64
 21  garagecarcnt                  77380 non-null  float64
 22  garagetotalsqft               77380 non-null  float64
 23  hashottuborspa                77380 non-null  float64
 24  heatingorsystemtypeid         77380 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             77380 non-null  float64
 28  poolcnt                       77380 non-null  float64
 29  poolsizesum                   77380 non-null  float64
 30  pooltypeid10                  77380 non-null  float64
 31  pooltypeid2                   77380 non-null  float64
 32  pooltypeid7                   77380 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            77380 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  77380 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          77380 non-null  float64
 40  regionidzip                   77380 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   77380 non-null  float64
 43  threequarterbathnbr           77380 non-null  float64
 44  typeconstructiontypeid        77380 non-null  float64
 45  unitcnt                       77380 non-null  float64
 46  yardbuildingsqft17            77380 non-null  float64
 47  yardbuildingsqft26            77380 non-null  float64
 48  yearbuilt                     77380 non-null  float64
 49  numberofstories               77380 non-null  float64
 50  fireplaceflag                 77380 non-null  float64
 51  structuretaxvaluedollarcnt    77380 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77380 non-null  float64
 55  taxamount                     77380 non-null  float64
 56  taxdelinquencyflag            77380 non-null  object
 57  taxdelinquencyyear            77380 non-null  float64
 58  censustractandblock           77380 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  object
 61  airconditioningdesc           77380 non-null  object
 62  architecturalstyledesc        77380 non-null  object
 63  buildingclassdesc             77380 non-null  object
 64  heatingorsystemdesc           77380 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     77380 non-null  object
 67  typeconstructiondesc          77380 non-null  object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB
--- Column Descriptions
                  id      parcelid  airconditioningtypeid  \
count   7.738000e+04  7.738000e+04           77380.000000
unique           NaN           NaN                    NaN
top              NaN           NaN                    NaN
freq             NaN           NaN                    NaN
mean    1.495126e+06  1.300715e+07               0.584738
std     8.609057e+05  3.481368e+06               1.886475
min     3.490000e+02  1.071186e+07               0.000000
25%     7.520500e+05  1.153830e+07               0.000000
50%     1.497870e+06  1.253155e+07               0.000000
75%     2.240480e+06  1.421184e+07               1.000000
max     2.982274e+06  1.676893e+08              13.000000

        architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count               77380.000000  77380.000000  77380.000000  77380.000000
unique                       NaN           NaN           NaN           NaN
top                          NaN           NaN           NaN           NaN
freq                         NaN           NaN           NaN           NaN
mean                    0.019669      0.439209      2.299134      3.053489
std                     0.405892     24.486321      0.996657      1.139103
min                     0.000000      0.000000      0.000000      0.000000
25%                     0.000000      0.000000      2.000000      2.000000
50%                     0.000000      0.000000      2.000000      3.000000
75%                     0.000000      0.000000      3.000000      4.000000
max                    21.000000   3560.000000     18.000000     16.000000

        buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count          77380.000000           77380.000000       77380.000000  ...
unique                  NaN                    NaN                NaN  ...
top                     NaN                    NaN                NaN  ...
freq                    NaN                    NaN                NaN  ...
mean               0.000762               4.194650           2.298637  ...
std                0.054869               3.423279           0.997141  ...
min                0.000000               0.000000           0.000000  ...
25%                0.000000               0.000000           2.000000  ...
50%                0.000000               5.000000           2.000000  ...
75%                0.000000               7.000000           3.000000  ...
max                4.000000              12.000000          18.000000  ...

        censustractandblock      logerror  transactiondate  \
count          7.738000e+04  77380.000000            77380
unique                  NaN           NaN              264
top                     NaN           NaN       2017-06-30
freq                    NaN           NaN             1189
mean           6.030597e+13      0.016628              NaN
std            3.722074e+12      0.170190              NaN
min            0.000000e+00     -4.655420              NaN
25%            6.037310e+13     -0.024377              NaN
50%            6.037603e+13      0.006627              NaN
75%            6.059042e+13      0.039204              NaN
max            4.830301e+14      5.262999              NaN

        airconditioningdesc  architecturalstyledesc  buildingclassdesc  \
count               77380.0                 77380.0            77380.0
unique                  6.0                     6.0                3.0
top                     0.0                     0.0                0.0
freq                52427.0                 77174.0            77365.0
mean                    NaN                     NaN                NaN
std                     NaN                     NaN                NaN
min                     NaN                     NaN                NaN
25%                     NaN                     NaN                NaN
50%                     NaN                     NaN                NaN
75%                     NaN                     NaN                NaN
max                     NaN                     NaN                NaN

        heatingorsystemdesc        propertylandusedesc  storydesc  \
count                 77380                      77380    77380.0
unique                   11                         13        2.0
top                 Central  Single Family Residential        0.0
freq                  33550                      52319    77330.0
mean                    NaN                        NaN        NaN
std                     NaN                        NaN        NaN
min                     NaN                        NaN        NaN
25%                     NaN                        NaN        NaN
50%                     NaN                        NaN        NaN
75%                     NaN                        NaN        NaN
max                     NaN                        NaN        NaN

        typeconstructiondesc
count                77380.0
unique                   5.0
top                      0.0
freq                 77158.0
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN

[11 rows x 68 columns]

In [8]:
def remove_columns(df, cols_to_remove):  
    df = df.drop(columns=cols_to_remove)
    return df
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .75):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df
def data_prep(df, cols_to_remove=[], prop_required_column=.5, prop_required_row=.75):
    df = remove_columns(df, cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

In [9]:
df=handle_missing_values(df)
df=data_prep(df)

In [40]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,0.0,0.0,0.0,3.5,4.0,0.0,0.0,3.5,...,6.059063e+13,0.025595,2017-01-01,0,0,0,0,Single Family Residential,0,0
1,1387261,17052889,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,6.111001e+13,0.055619,2017-01-01,0,0,0,0,Single Family Residential,0,0
2,11677,14186244,0.0,0.0,0.0,2.0,3.0,0.0,0.0,2.0,...,6.059022e+13,0.005383,2017-01-01,0,0,0,0,Single Family Residential,0,0
3,2288172,12177905,0.0,0.0,0.0,3.0,4.0,0.0,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,0,0,0,Central,Single Family Residential,0,0
4,1970746,10887214,1.0,0.0,0.0,3.0,3.0,0.0,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,0,0,Central,Condominium,0,0

In [17]:
df.nunique()

id                                         48649
parcelid                                   48649
bathroomcnt                                   26
bedroomcnt                                    16
buildingqualitytypeid                         12
                                           ...
taxvaluedollarcnt_outliers_outliers         6026
assessmentyear_outliers_outliers               1
landtaxvaluedollarcnt_outliers_outliers     6071
taxamount_outliers_outliers                 7270
censustractandblock_outliers_outliers       2736
Length: 86, dtype: int64

In [12]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

In [14]:
df = add_upper_outlier_columns(df,k=1.50)
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories_outliers_outliers,fireplaceflag_outliers_outliers,structuretaxvaluedollarcnt_outliers_outliers,taxvaluedollarcnt_outliers_outliers,assessmentyear_outliers_outliers,landtaxvaluedollarcnt_outliers_outliers,taxamount_outliers_outliers,taxdelinquencyyear_outliers_outliers,censustractandblock_outliers_outliers,logerror_outliers_outliers
0,1727539,14297519,0.0,0.0,0.0,3.5,4.0,0.0,0.0,3.5,...,0.0,0.0,65460.125,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
1,1387261,17052889,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,1.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,1.936079e+11,0.0
2,11677,14186244,0.0,0.0,0.0,2.0,3.0,0.0,0.0,2.0,...,1.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
3,2288172,12177905,0.0,0.0,0.0,3.0,4.0,0.0,8.0,3.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
4,1970746,10887214,1.0,0.0,0.0,3.0,3.0,0.0,8.0,3.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0

In [17]:
outlier_cols = [col for col in df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = df[col][df[col] > 0]
    print(data.describe())

~~~
id_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: id_outliers, dtype: float64
~~~
parcelid_outliers
count    3.100000e+01
mean     1.435928e+08
std      2.021958e+07
min      6.141833e+07
25%      1.494141e+08
50%      1.494149e+08
75%      1.494167e+08
max      1.494672e+08
Name: parcelid_outliers, dtype: float64
~~~
airconditioningtypeid_outliers
count    1820.000000
mean        9.650549
std         2.345003
min         2.500000
25%        10.500000
50%        10.500000
75%        10.500000
max        10.500000
Name: airconditioningtypeid_outliers, dtype: float64
~~~
architecturalstyletypeid_outliers
count    206.000000
mean       7.388350
std        2.734542
min        2.000000
25%        7.000000
50%        7.000000
75%        7.000000
max       21.000000
Name: architecturalstyletypeid_outliers, dtype: float64
~~~
basementsqft_outliers
count      50.000000
mean      679.720000
std       689.703546
min        38.000000
25%       273.000000
50%       515.000000
75%       796.500000
max      3560.000000
Name: basementsqft_outliers, dtype: float64
~~~
bathroomcnt_outliers
count    1989.000000
mean        1.186777
std         1.024195
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: bathroomcnt_outliers, dtype: float64
~~~
bedroomcnt_outliers
count    379.000000
mean       1.622691
std        1.142082
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        9.000000
Name: bedroomcnt_outliers, dtype: float64
~~~
buildingclasstypeid_outliers
count    15.000000
mean      3.933333
std       0.258199
min       3.000000
25%       4.000000
50%       4.000000
75%       4.000000
max       4.000000
Name: buildingclasstypeid_outliers, dtype: float64
~~~
buildingqualitytypeid_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: buildingqualitytypeid_outliers, dtype: float64
~~~
calculatedbathnbr_outliers
count    1988.000000
mean        1.186871
std         1.024444
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: calculatedbathnbr_outliers, dtype: float64
~~~
decktypeid_outliers
count    614.0
mean      66.0
std        0.0
min       66.0
25%       66.0
50%       66.0
75%       66.0
max       66.0
Name: decktypeid_outliers, dtype: float64
~~~
finishedfloor1squarefeet_outliers
count    6023.000000
mean     1366.512535
std       671.308125
min        44.000000
25%       955.000000
50%      1257.000000
75%      1615.000000
max      6912.000000
Name: finishedfloor1squarefeet_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers
count     4012.000000
mean      1058.343220
std       1418.300936
min          1.000000
25%        255.000000
50%        627.000000
75%       1323.250000
max      32135.000000
Name: calculatedfinishedsquarefeet_outliers, dtype: float64
~~~
finishedsquarefeet12_outliers
count     3972.000000
mean      1064.716767
std       1340.445911
min          1.000000
25%        255.000000
50%        632.500000
75%       1351.000000
max      18523.000000
Name: finishedsquarefeet12_outliers, dtype: float64
~~~
finishedsquarefeet13_outliers
count      41.000000
mean     1389.853659
std       123.531688
min      1056.000000
25%      1344.000000
50%      1440.000000
75%      1440.000000
max      1560.000000
Name: finishedsquarefeet13_outliers, dtype: float64
~~~
finishedsquarefeet15_outliers
count     3009.000000
mean      2357.791625
std       1188.775210
min        598.000000
25%       1625.000000
50%       2094.000000
75%       2838.000000
max      35640.000000
Name: finishedsquarefeet15_outliers, dtype: float64
~~~
finishedsquarefeet50_outliers
count     6023.000000
mean      1381.771542
std        726.468878
min         44.000000
25%        956.000000
50%       1259.000000
75%       1621.500000
max      12467.000000
Name: finishedsquarefeet50_outliers, dtype: float64
~~~
finishedsquarefeet6_outliers
count     386.000000
mean     2082.500000
std      1240.382784
min       380.000000
25%       993.750000
50%      1812.500000
75%      3053.500000
max      5598.000000
Name: finishedsquarefeet6_outliers, dtype: float64
~~~
fips_outliers
count    6237.0
mean       19.0
std         0.0
min        19.0
25%        19.0
50%        19.0
75%        19.0
max        19.0
Name: fips_outliers, dtype: float64
~~~
fireplacecnt_outliers
count    8276.000000
mean        1.191155
std         0.491080
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         5.000000
Name: fireplacecnt_outliers, dtype: float64
~~~
fullbathcnt_outliers
count    1966.000000
mean        1.107833
std         1.032460
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: fullbathcnt_outliers, dtype: float64
~~~
garagecarcnt_outliers
count    28.000000
mean      2.642857
std       2.280583
min       1.000000
25%       1.000000
50%       1.500000
75%       4.000000
max       9.000000
Name: garagecarcnt_outliers, dtype: float64
~~~
garagetotalsqft_outliers
count    17789.000000
mean       501.363314
std        149.082427
min        136.000000
25%        428.000000
50%        462.000000
75%        569.000000
max       4251.000000
Name: garagetotalsqft_outliers, dtype: float64
~~~
hashottuborspa_outliers
count    1538.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: hashottuborspa_outliers, dtype: float64
~~~
heatingorsystemtypeid_outliers
count    15876.000000
mean         2.981230
std          3.988254
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max         19.000000
Name: heatingorsystemtypeid_outliers, dtype: float64
~~~
latitude_outliers
count       109.000000
mean      22646.059633
std       28644.678283
min          21.500000
25%        2283.500000
50%        4142.500000
75%       39887.500000
max      104645.500000
Name: latitude_outliers, dtype: float64
~~~
longitude_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: longitude_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers
count    1.241800e+04
mean     1.154890e+05
std      2.672918e+05
min      3.875000e+00
25%      1.082712e+04
50%      3.835788e+04
75%      1.243419e+05
max      6.952232e+06
Name: lotsizesquarefeet_outliers, dtype: float64
~~~
poolcnt_outliers
count    16137.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: poolcnt_outliers, dtype: float64
~~~
poolsizesum_outliers
count     867.000000
mean      517.916955
std       156.716017
min        24.000000
25%       424.000000
50%       500.000000
75%       600.000000
max      1500.000000
Name: poolsizesum_outliers, dtype: float64
~~~
pooltypeid10_outliers
count    464.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: pooltypeid10_outliers, dtype: float64
~~~
pooltypeid2_outliers
count    1074.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: pooltypeid2_outliers, dtype: float64
~~~
pooltypeid7_outliers
count    15042.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: pooltypeid7_outliers, dtype: float64
~~~
propertylandusetypeid_outliers
count    58.0
mean      1.5
std       0.0
min       1.5
25%       1.5
50%       1.5
75%       1.5
max       1.5
Name: propertylandusetypeid_outliers, dtype: float64
~~~
rawcensustractandblock_outliers
count      6237.000000
mean     193658.051087
std          24.300959
min      193607.379518
25%      193641.430505
50%      193661.381501
75%      193680.451472
max      193696.380499
Name: rawcensustractandblock_outliers, dtype: float64
~~~
regionidcity_outliers
count      2132.000000
mean     162562.590525
std      138507.029968
min       18587.500000
25%       23869.500000
50%      177753.500000
75%      301229.500000
max      301731.500000
Name: regionidcity_outliers, dtype: float64
~~~
regionidcounty_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: regionidcounty_outliers, dtype: float64
~~~
regionidneighborhood_outliers
count     14774.000000
mean     192764.207188
std      132168.144844
min       19478.000000
25%      137502.000000
50%      139145.000000
75%      140736.000000
max      628417.000000
Name: regionidneighborhood_outliers, dtype: float64
~~~
regionidzip_outliers
count        12.0
mean     301497.0
std           0.0
min      301497.0
25%      301497.0
50%      301497.0
75%      301497.0
max      301497.0
Name: regionidzip_outliers, dtype: float64
~~~
roomcnt_outliers
count    17573.000000
mean         6.503613
std          1.560398
min          1.000000
25%          5.000000
50%          6.000000
75%          8.000000
max         15.000000
Name: roomcnt_outliers, dtype: float64
~~~
storytypeid_outliers
count    50.0
mean      7.0
std       0.0
min       7.0
25%       7.0
50%       7.0
75%       7.0
max       7.0
Name: storytypeid_outliers, dtype: float64
~~~
threequarterbathnbr_outliers
count    10096.000000
mean         1.009608
std          0.118630
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          7.000000
Name: threequarterbathnbr_outliers, dtype: float64
~~~
typeconstructiontypeid_outliers
count    222.000000
mean       6.040541
std        0.557285
min        4.000000
25%        6.000000
50%        6.000000
75%        6.000000
max       13.000000
Name: typeconstructiontypeid_outliers, dtype: float64
~~~
unitcnt_outliers
count    1252.000000
mean        1.331470
std         6.803596
min         0.500000
25%         0.500000
50%         1.500000
75%         1.500000
max       234.500000
Name: unitcnt_outliers, dtype: float64
~~~
yardbuildingsqft17_outliers
count    2388.000000
mean      305.411223
std       238.392793
min        11.000000
25%       170.000000
50%       251.000000
75%       364.000000
max      3191.000000
Name: yardbuildingsqft17_outliers, dtype: float64
~~~
yardbuildingsqft26_outliers
count     70.000000
mean     216.385714
std      190.177514
min       12.000000
25%       61.500000
50%      164.500000
75%      310.500000
max      868.000000
Name: yardbuildingsqft26_outliers, dtype: float64
~~~
yearbuilt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: yearbuilt_outliers, dtype: float64
~~~
numberofstories_outliers
count    17560.000000
mean         1.434738
std          0.544569
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          6.000000
Name: numberofstories_outliers, dtype: float64
~~~
fireplaceflag_outliers
count    172.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: fireplaceflag_outliers, dtype: float64
~~~
structuretaxvaluedollarcnt_outliers
count    5.367000e+03
mean     3.342989e+05
std      5.607854e+05
min      2.412500e+01
25%      6.093412e+04
50%      1.672001e+05
75%      3.907651e+05
max      1.100154e+07
Name: structuretaxvaluedollarcnt_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers
count    5.168000e+03
mean     9.543986e+05
std      1.717484e+06
min      2.122500e+02
25%      1.750808e+05
50%      4.631492e+05
75%      1.079368e+06
max      4.794923e+07
Name: taxvaluedollarcnt_outliers, dtype: float64
~~~
assessmentyear_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: assessmentyear_outliers, dtype: float64
~~~
landtaxvaluedollarcnt_outliers
count    4.523000e+03
mean     7.262156e+05
std      1.444291e+06
min      1.050000e+01
25%      1.256645e+05
50%      3.402345e+05
75%      7.966305e+05
max      4.816347e+07
Name: landtaxvaluedollarcnt_outliers, dtype: float64
~~~
taxamount_outliers
count      5203.000000
mean      10977.554943
std       20054.616475
min           1.048750
25%        2021.433750
50%        5376.458750
75%       12306.008750
max      573393.238750
Name: taxamount_outliers, dtype: float64
~~~
taxdelinquencyyear_outliers
count    2886.000000
mean       14.087318
std         2.185663
min         3.000000
25%        14.000000
50%        15.000000
75%        15.000000
max        99.000000
Name: taxdelinquencyyear_outliers, dtype: float64
~~~
censustractandblock_outliers
count    6.218000e+03
mean     2.615053e+11
std      5.350629e+12
min      1.935989e+11
25%      1.936340e+11
50%      1.936539e+11
75%      1.936730e+11
max      4.221137e+14
Name: censustractandblock_outliers, dtype: float64
~~~
logerror_outliers
count    5390.000000
mean        0.226410
std         0.388037
min         0.000010
25%         0.035993
50%         0.096744
75%         0.237262
max         5.128423
Name: logerror_outliers, dtype: float64
~~~
id_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: id_outliers_outliers, dtype: float64
~~~
parcelid_outliers_outliers
count    3.100000e+01
mean     1.435928e+08
std      2.021958e+07
min      6.141833e+07
25%      1.494141e+08
50%      1.494149e+08
75%      1.494167e+08
max      1.494672e+08
Name: parcelid_outliers_outliers, dtype: float64
~~~
airconditioningtypeid_outliers_outliers
count    1820.000000
mean        9.650549
std         2.345003
min         2.500000
25%        10.500000
50%        10.500000
75%        10.500000
max        10.500000
Name: airconditioningtypeid_outliers_outliers, dtype: float64
~~~
architecturalstyletypeid_outliers_outliers
count    206.000000
mean       7.388350
std        2.734542
min        2.000000
25%        7.000000
50%        7.000000
75%        7.000000
max       21.000000
Name: architecturalstyletypeid_outliers_outliers, dtype: float64
~~~
basementsqft_outliers_outliers
count      50.000000
mean      679.720000
std       689.703546
min        38.000000
25%       273.000000
50%       515.000000
75%       796.500000
max      3560.000000
Name: basementsqft_outliers_outliers, dtype: float64
~~~
bathroomcnt_outliers_outliers
count    1989.000000
mean        1.186777
std         1.024195
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: bathroomcnt_outliers_outliers, dtype: float64
~~~
bedroomcnt_outliers_outliers
count    379.000000
mean       1.622691
std        1.142082
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        9.000000
Name: bedroomcnt_outliers_outliers, dtype: float64
~~~
buildingclasstypeid_outliers_outliers
count    15.000000
mean      3.933333
std       0.258199
min       3.000000
25%       4.000000
50%       4.000000
75%       4.000000
max       4.000000
Name: buildingclasstypeid_outliers_outliers, dtype: float64
~~~
buildingqualitytypeid_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: buildingqualitytypeid_outliers_outliers, dtype: float64
~~~
calculatedbathnbr_outliers_outliers
count    1988.000000
mean        1.186871
std         1.024444
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: calculatedbathnbr_outliers_outliers, dtype: float64
~~~
decktypeid_outliers_outliers
count    614.0
mean      66.0
std        0.0
min       66.0
25%       66.0
50%       66.0
75%       66.0
max       66.0
Name: decktypeid_outliers_outliers, dtype: float64
~~~
finishedfloor1squarefeet_outliers_outliers
count    6023.000000
mean     1366.512535
std       671.308125
min        44.000000
25%       955.000000
50%      1257.000000
75%      1615.000000
max      6912.000000
Name: finishedfloor1squarefeet_outliers_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers_outliers
count     4012.000000
mean      1058.343220
std       1418.300936
min          1.000000
25%        255.000000
50%        627.000000
75%       1323.250000
max      32135.000000
Name: calculatedfinishedsquarefeet_outliers_outliers, dtype: float64
~~~
finishedsquarefeet12_outliers_outliers
count     3972.000000
mean      1064.716767
std       1340.445911
min          1.000000
25%        255.000000
50%        632.500000
75%       1351.000000
max      18523.000000
Name: finishedsquarefeet12_outliers_outliers, dtype: float64
~~~
finishedsquarefeet13_outliers_outliers
count      41.000000
mean     1389.853659
std       123.531688
min      1056.000000
25%      1344.000000
50%      1440.000000
75%      1440.000000
max      1560.000000
Name: finishedsquarefeet13_outliers_outliers, dtype: float64
~~~
finishedsquarefeet15_outliers_outliers
count     3009.000000
mean      2357.791625
std       1188.775210
min        598.000000
25%       1625.000000
50%       2094.000000
75%       2838.000000
max      35640.000000
Name: finishedsquarefeet15_outliers_outliers, dtype: float64
~~~
finishedsquarefeet50_outliers_outliers
count     6023.000000
mean      1381.771542
std        726.468878
min         44.000000
25%        956.000000
50%       1259.000000
75%       1621.500000
max      12467.000000
Name: finishedsquarefeet50_outliers_outliers, dtype: float64
~~~
finishedsquarefeet6_outliers_outliers
count     386.000000
mean     2082.500000
std      1240.382784
min       380.000000
25%       993.750000
50%      1812.500000
75%      3053.500000
max      5598.000000
Name: finishedsquarefeet6_outliers_outliers, dtype: float64
~~~
fips_outliers_outliers
count    6237.0
mean       19.0
std         0.0
min        19.0
25%        19.0
50%        19.0
75%        19.0
max        19.0
Name: fips_outliers_outliers, dtype: float64
~~~
fireplacecnt_outliers_outliers
count    8276.000000
mean        1.191155
std         0.491080
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         5.000000
Name: fireplacecnt_outliers_outliers, dtype: float64
~~~
fullbathcnt_outliers_outliers
count    1966.000000
mean        1.107833
std         1.032460
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max        13.500000
Name: fullbathcnt_outliers_outliers, dtype: float64
~~~
garagecarcnt_outliers_outliers
count    28.000000
mean      2.642857
std       2.280583
min       1.000000
25%       1.000000
50%       1.500000
75%       4.000000
max       9.000000
Name: garagecarcnt_outliers_outliers, dtype: float64
~~~
garagetotalsqft_outliers_outliers
count    17789.000000
mean       501.363314
std        149.082427
min        136.000000
25%        428.000000
50%        462.000000
75%        569.000000
max       4251.000000
Name: garagetotalsqft_outliers_outliers, dtype: float64
~~~
hashottuborspa_outliers_outliers
count    1538.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: hashottuborspa_outliers_outliers, dtype: float64
~~~
heatingorsystemtypeid_outliers_outliers
count    15876.000000
mean         2.981230
std          3.988254
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max         19.000000
Name: heatingorsystemtypeid_outliers_outliers, dtype: float64
~~~
latitude_outliers_outliers
count       109.000000
mean      22646.059633
std       28644.678283
min          21.500000
25%        2283.500000
50%        4142.500000
75%       39887.500000
max      104645.500000
Name: latitude_outliers_outliers, dtype: float64
~~~
longitude_outliers_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: longitude_outliers_outliers, dtype: float64
~~~

# Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [19]:
def summery_df(df):
    print(df.nunique())
    print('----------------------------------------------------------------------------------------------------')
    print(df.info())
    print('----------------------------------------------------------------------------------------------------')
    print(df.describe())
    print('----------------------------------------------------------------------------------------------------')
    print(df.isnull().sum()/len(df)*100)
    print('----------------------------------------------------------------------------------------------------')
    print(df.isnull().sum(axis=0))
    print('----------------------------------------------------------------------------------------------------')
    print(df.shape)
    print('----------------------------------------------------------------------------------------------------')
    print(df.head())
    print('----------------------------------------------------------------------------------------------------')

In [20]:
summery_df(df)

id                                         48649
parcelid                                   48649
bathroomcnt                                   26
bedroomcnt                                    16
buildingqualitytypeid                         12
                                           ...
taxvaluedollarcnt_outliers_outliers         6026
assessmentyear_outliers_outliers               1
landtaxvaluedollarcnt_outliers_outliers     6071
taxamount_outliers_outliers                 7270
censustractandblock_outliers_outliers       2736
Length: 86, dtype: int64
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48649 entries, 2 to 49999
Data columns (total 86 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              48649 non-null  int64
 1   parcelid                                        48649 non-null  int64
 2   bathroomcnt                                     48649 non-null  float64
 3   bedroomcnt                                      48649 non-null  float64
 4   buildingqualitytypeid                           33076 non-null  float64
 5   calculatedbathnbr                               47895 non-null  float64
 6   calculatedfinishedsquarefeet                    48638 non-null  float64
 7   finishedsquarefeet12                            45101 non-null  float64
 8   fips                                            48649 non-null  float64
 9   fullbathcnt                                     47895 non-null  float64
 10  heatingorsystemtypeid                           31717 non-null  float64
 11  latitude                                        48649 non-null  float64
 12  longitude                                       48649 non-null  float64
 13  lotsizesquarefeet                               45413 non-null  float64
 14  propertycountylandusecode                       48649 non-null  object
 15  propertylandusetypeid                           48649 non-null  float64
 16  propertyzoningdesc                              33584 non-null  object
 17  rawcensustractandblock                          48649 non-null  float64
 18  regionidcity                                    47826 non-null  float64
 19  regionidcounty                                  48649 non-null  float64
 20  regionidzip                                     48554 non-null  float64
 21  roomcnt                                         48649 non-null  float64
 22  unitcnt                                         33709 non-null  float64
 23  yearbuilt                                       48567 non-null  float64
 24  structuretaxvaluedollarcnt                      48565 non-null  float64
 25  taxvaluedollarcnt                               48644 non-null  float64
 26  assessmentyear                                  48649 non-null  float64
 27  landtaxvaluedollarcnt                           48636 non-null  float64
 28  taxamount                                       48569 non-null  float64
 29  censustractandblock                             48015 non-null  float64
 30  id_outliers                                     48649 non-null  float64
 31  parcelid_outliers                               48649 non-null  float64
 32  bathroomcnt_outliers                            48649 non-null  float64
 33  bedroomcnt_outliers                             48649 non-null  float64
 34  buildingqualitytypeid_outliers                  33076 non-null  float64
 35  calculatedbathnbr_outliers                      47895 non-null  float64
 36  calculatedfinishedsquarefeet_outliers           48638 non-null  float64
 37  finishedsquarefeet12_outliers                   45101 non-null  float64
 38  fips_outliers                                   48649 non-null  float64
 39  fullbathcnt_outliers                            47895 non-null  float64
 40  heatingorsystemtypeid_outliers                  31717 non-null  float64
 41  latitude_outliers                               48649 non-null  float64
 42  longitude_outliers                              48649 non-null  float64
 43  lotsizesquarefeet_outliers                      45413 non-null  float64
 44  propertylandusetypeid_outliers                  48649 non-null  float64
 45  rawcensustractandblock_outliers                 48649 non-null  float64
 46  regionidcity_outliers                           47826 non-null  float64
 47  regionidcounty_outliers                         48649 non-null  int64
 48  regionidzip_outliers                            48554 non-null  float64
 49  roomcnt_outliers                                48649 non-null  float64
 50  unitcnt_outliers                                33709 non-null  float64
 51  yearbuilt_outliers                              48567 non-null  float64
 52  structuretaxvaluedollarcnt_outliers             48565 non-null  float64
 53  taxvaluedollarcnt_outliers                      48644 non-null  float64
 54  assessmentyear_outliers                         48649 non-null  float64
 55  landtaxvaluedollarcnt_outliers                  48636 non-null  float64
 56  taxamount_outliers                              48569 non-null  float64
 57  censustractandblock_outliers                    48015 non-null  float64
 58  id_outliers_outliers                            48649 non-null  float64
 59  parcelid_outliers_outliers                      48649 non-null  float64
 60  bathroomcnt_outliers_outliers                   48649 non-null  float64
 61  bedroomcnt_outliers_outliers                    48649 non-null  float64
 62  buildingqualitytypeid_outliers_outliers         33076 non-null  float64
 63  calculatedbathnbr_outliers_outliers             47895 non-null  float64
 64  calculatedfinishedsquarefeet_outliers_outliers  48638 non-null  float64
 65  finishedsquarefeet12_outliers_outliers          45101 non-null  float64
 66  fips_outliers_outliers                          48649 non-null  float64
 67  fullbathcnt_outliers_outliers                   47895 non-null  float64
 68  heatingorsystemtypeid_outliers_outliers         31717 non-null  float64
 69  latitude_outliers_outliers                      48649 non-null  float64
 70  longitude_outliers_outliers                     48649 non-null  float64
 71  lotsizesquarefeet_outliers_outliers             45413 non-null  float64
 72  propertylandusetypeid_outliers_outliers         48649 non-null  float64
 73  rawcensustractandblock_outliers_outliers        48649 non-null  float64
 74  regionidcity_outliers_outliers                  47826 non-null  float64
 75  regionidcounty_outliers_outliers                48649 non-null  float64
 76  regionidzip_outliers_outliers                   48554 non-null  float64
 77  roomcnt_outliers_outliers                       48649 non-null  float64
 78  unitcnt_outliers_outliers                       33709 non-null  float64
 79  yearbuilt_outliers_outliers                     48567 non-null  float64
 80  structuretaxvaluedollarcnt_outliers_outliers    48565 non-null  float64
 81  taxvaluedollarcnt_outliers_outliers             48644 non-null  float64
 82  assessmentyear_outliers_outliers                48649 non-null  float64
 83  landtaxvaluedollarcnt_outliers_outliers         48636 non-null  float64
 84  taxamount_outliers_outliers                     48569 non-null  float64
 85  censustractandblock_outliers_outliers           48015 non-null  float64
dtypes: float64(81), int64(3), object(2)
memory usage: 32.3+ MB
None
----------------------------------------------------------------------------------------------------
                 id      parcelid   bathroomcnt    bedroomcnt  \
count  48649.000000  4.864900e+04  48649.000000  48649.000000
mean   25032.876256  1.308300e+07      2.282226      3.162819
std    14400.745732  6.278202e+06      1.051136      1.191182
min        2.000000  1.071177e+07      0.000000      0.000000
25%    12425.000000  1.150743e+07      2.000000      2.000000
50%    24936.000000  1.239281e+07      2.000000      3.000000
75%    37503.000000  1.405059e+07      3.000000      4.000000
max    49999.000000  1.681828e+08     20.000000     25.000000

       buildingqualitytypeid  calculatedbathnbr  calculatedfinishedsquarefeet  \
count           33076.000000       47895.000000                  48638.000000
mean                6.316786           2.317246                   1850.805810
std                 1.739191           1.019718                   1715.384257
min                 1.000000           1.000000                     60.000000
25%                 5.000000           2.000000                   1223.000000
50%                 6.000000           2.000000                   1587.000000
75%                 8.000000           3.000000                   2158.750000
max                12.000000          20.000000                 161232.000000

       finishedsquarefeet12          fips   fullbathcnt  ...  \
count          45101.000000  48649.000000  47895.000000  ...
mean            1779.601184   6048.144525      2.264161  ...
std              945.335031     21.092447      1.009681  ...
min               60.000000   6037.000000      1.000000  ...
25%             1204.000000   6037.000000      2.000000  ...
50%             1554.000000   6037.000000      2.000000  ...
75%             2090.000000   6059.000000      3.000000  ...
max            26345.000000   6111.000000     20.000000  ...

       regionidzip_outliers_outliers  roomcnt_outliers_outliers  \
count                   48554.000000               48649.000000
mean                       49.808543                   1.474049
std                      3880.074310                   2.862767
min                         0.000000                   0.000000
25%                         0.000000                   0.000000
50%                         0.000000                   0.000000
75%                         0.000000                   0.000000
max                    302300.500000                  86.000000

       unitcnt_outliers_outliers  yearbuilt_outliers_outliers  \
count               33709.000000                 48567.000000
mean                    0.175710                     0.746330
std                     1.556521                     2.729364
min                     0.000000                     0.000000
25%                     0.000000                     0.000000
50%                     0.000000                     0.000000
75%                     0.000000                     0.000000
max                   198.000000                    19.500000

       structuretaxvaluedollarcnt_outliers_outliers  \
count                                  4.856500e+04
mean                                   3.629398e+04
std                                    2.209240e+05
min                                    0.000000e+00
25%                                    0.000000e+00
50%                                    0.000000e+00
75%                                    0.000000e+00
max                                    1.662119e+07

       taxvaluedollarcnt_outliers_outliers  assessmentyear_outliers_outliers  \
count                         4.864400e+04                           48649.0
mean                          9.081783e+04                               0.0
std                           5.088371e+05                               0.0
min                           0.000000e+00                               0.0
25%                           0.000000e+00                               0.0
50%                           0.000000e+00                               0.0
75%                           0.000000e+00                               0.0
max                           2.948773e+07                               0.0

       landtaxvaluedollarcnt_outliers_outliers  taxamount_outliers_outliers  \
count                             4.863600e+04                 48569.000000
mean                              5.975638e+04                  1064.925358
std                               3.442884e+05                  5930.897625
min                               0.000000e+00                     0.000000
25%                               0.000000e+00                     0.000000
50%                               0.000000e+00                     0.000000
75%                               0.000000e+00                     0.000000
max                               1.931515e+07                334842.260000

       censustractandblock_outliers_outliers
count                           4.801500e+04
mean                            3.478895e+10
std                             1.143918e+11
min                             0.000000e+00
25%                             0.000000e+00
50%                             0.000000e+00
75%                             0.000000e+00
max                             4.109605e+11

[8 rows x 84 columns]
----------------------------------------------------------------------------------------------------
id                                          0.000000
parcelid                                    0.000000
bathroomcnt                                 0.000000
bedroomcnt                                  0.000000
buildingqualitytypeid                      32.010935
                                             ...
taxvaluedollarcnt_outliers_outliers         0.010278
assessmentyear_outliers_outliers            0.000000
landtaxvaluedollarcnt_outliers_outliers     0.026722
taxamount_outliers_outliers                 0.164443
censustractandblock_outliers_outliers       1.303213
Length: 86, dtype: float64
----------------------------------------------------------------------------------------------------
id                                             0
parcelid                                       0
bathroomcnt                                    0
bedroomcnt                                     0
buildingqualitytypeid                      15573
                                           ...
taxvaluedollarcnt_outliers_outliers            5
assessmentyear_outliers_outliers               0
landtaxvaluedollarcnt_outliers_outliers       13
taxamount_outliers_outliers                   80
censustractandblock_outliers_outliers        634
Length: 86, dtype: int64
----------------------------------------------------------------------------------------------------
h
----------------------------------------------------------------------------------------------------
   id  parcelid  bathroomcnt  bedroomcnt  buildingqualitytypeid  \
2   2  10843547          0.0         0.0                    NaN
3   3  10859147          0.0         0.0                    6.0
4   4  10879947          0.0         0.0                    NaN
5   5  10898347          0.0         0.0                    4.0
7   7  10940747          0.0         0.0                    NaN

   calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12  \
2                NaN                       73026.0                   NaN
3                NaN                        5068.0                   NaN
4                NaN                        1776.0                   NaN
5                NaN                        2400.0                   NaN
7                NaN                        3611.0                   NaN

     fips  fullbathcnt  ...  regionidzip_outliers_outliers  \
2  6037.0          NaN  ...                            0.0
3  6037.0          NaN  ...                            0.0
4  6037.0          NaN  ...                            0.0
5  6037.0          NaN  ...                            0.0
7  6037.0          NaN  ...                            0.0

   roomcnt_outliers_outliers  unitcnt_outliers_outliers  \
2                        0.0                        1.0
3                        0.0                        NaN
4                        0.0                        0.0
5                        0.0                        NaN
7                        0.0                        NaN

   yearbuilt_outliers_outliers structuretaxvaluedollarcnt_outliers_outliers  \
2                          0.0                                     391040.5
3                          0.0                                     310419.5
4                          0.0                                          0.0
5                          0.0                                          0.0
7                          0.0                                          0.0

   taxvaluedollarcnt_outliers_outliers assessmentyear_outliers_outliers  \
2                             755827.0                              0.0
3                             495361.0                              0.0
4                                  0.0                              0.0
5                                  0.0                              0.0
7                              19870.0                              0.0

   landtaxvaluedollarcnt_outliers_outliers  taxamount_outliers_outliers  \
2                                324930.75                     12702.25
3                                145085.75                      6459.45
4                                     0.00                         0.00
5                                     0.00                         0.00
7                                146100.75                         0.00

   censustractandblock_outliers_outliers
2                                    NaN
3                                    NaN
4                                    NaN
5                                    NaN
7                                    NaN

[5 rows x 86 columns]
----------------------------------------------------------------------------------------------------

# Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [26]:
def remove_outliers(df, k, col_list):
    ''' remove outliers from a list of columns in a dataframe 
        and return that dataframe
    '''
    
    for col in col_list:

        q1, q3 = df[f'{col}'].quantile([.25, .75])  # get quartiles
        
        iqr = q3 - q1   # calculate interquartile range
        
        upper_bound = q3 + k * iqr   # get upper bound
        lower_bound = q1 - k * iqr   # get lower bound

        # return dataframe without outliers
        
        return df[(df[f'{col}'] > lower_bound) & (df[f'{col}'] < upper_bound)]

In [27]:
col_list=['id','parcelid','airconditioningtypeid','architecturalstyletypeid','basementsqft','bathroomcnt','bedroomcnt']
df = remove_outliers(df, 1.5, col_list)
df

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77375,2864704,10833991,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037132e+13,-0.002245,2017-09-20,Central,None,None,Central,Condominium,None,None
77376,673515,11000655,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037101e+13,0.020615,2017-09-20,None,None,None,Central,Single Family Residential,None,None
77378,1843709,12773139,1.0,NaN,NaN,1.0,3.0,NaN,4.0,1.0,...,6.037434e+13,0.037129,2017-09-21,Central,None,None,Central,Single Family Residential,None,None
77377,2968375,17239384,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111008e+13,0.013209,2017-09-21,None,None,None,None,Single Family Residential,None,None
77379,1187175,12826780,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037503e+13,0.007204,2017-09-25,None,None,None,Central,Single Family Residential,None,None

# Mall Customers

Notebook

Acquire data from the customers table in the mall_customers database.

Summarize the data (include distributions and descriptive statistics).

Detect outliers using IQR.

Split data into train, validate, and test.

Encode categorical columns using a one hot encoder (pd.get_dummies).

Handles missing values.

Scaling

Encapsulate your work in a wrangle_mall.py python module.